nav 
{
    height: 40px;
    width:100%;
    position: fixed;
    top:0;
    background-color: rgb(156, 16, 16);
    border-radius: 5px;

    .title
    {
        margin: auto;
        font-size: 50px;
    }
    .create
    {
        float:right;
    }
}